In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('canadianHousePrice.csv')
df1.head()

,rentfaster_id,city,province,address,latitude,longitude,lease_term,type,price,beds,baths,sq_feet,link,furnishing,availability_date,smoking,cats,dogs
0,468622,Airdrie,Alberta,69 Gateway Dr NE,51.305962,-114.012515,Long Term,Townhouse,2495.0,2 Beds,2.5,1403,/ab/airdrie/rentals/townhouse/2-bedrooms/pet-f...,Unfurnished,Immediate,Non-Smoking,True,True
1,468622,Airdrie,Alberta,69 Gateway Dr NE,51.305962,-114.012515,Long Term,Townhouse,2695.0,3 Beds,2.5,1496,/ab/airdrie/rentals/townhouse/2-bedrooms/pet-f...,Unfurnished,Immediate,Non-Smoking,True,True
2,468622,Airdrie,Alberta,69 Gateway Dr NE,51.305962,-114.012515,Long Term,Townhouse,2295.0,2 Beds,2.5,1180,/ab/airdrie/rentals/townhouse/2-bedrooms/pet-f...,Unfurnished,Immediate,Non-Smoking,True,True
3,468622,Airdrie,Alberta,69 Gateway Dr NE,51.305962,-114.012515,Long Term,Townhouse,2095.0,2 Beds,2.5,1403,/ab/airdrie/rentals/townhouse/2-bedrooms/pet-f...,Unfurnished,November 18,Non-Smoking,True,True
4,468622,Airdrie,Alberta,69 Gateway Dr NE,51.305962,-114.012515,Long Term,Townhouse,2495.0,2 Beds,2.5,1403,/ab/airdrie/rentals/townhouse/2-bedrooms/pet-f...,Unfurnished,Immediate,Non-Smoking,True,True

In [6]:
df2 = df1.drop(['rentfaster_id','address','latitude', 'longitude', 'link', 'availability_date'], axis= 'columns')
df2.isnull().sum()

city             0
province         0
lease_term      46
type             0
price            0
beds           132
baths          134
sq_feet       4112
furnishing       0
smoking       2702
cats           173
dogs           173
dtype: int64

In [18]:
df2.shape

(25771, 12)

In [28]:
df2['beds'] = df2['beds'].fillna(0)
df2['baths'] = df2['baths'].fillna(0)
df2['cats'] = df2['cats'].fillna(False)
df2['dogs'] = df2['dogs'].fillna(False)
df2.isnull().sum()

city             0
province         0
lease_term      46
type             0
price            0
beds             0
baths            0
sq_feet       4112
furnishing       0
smoking       2702
cats             0
dogs             0
dtype: int64

In [29]:
df3 = df2.dropna()
df3.isnull().sum()

city          0
province      0
lease_term    0
type          0
price         0
beds          0
baths         0
sq_feet       0
furnishing    0
smoking       0
cats          0
dogs          0
dtype: int64

In [37]:
df3.shape
df3.head(1)

,city,province,lease_term,type,price,beds,baths,sq_feet,furnishing,smoking,cats,dogs
0,Airdrie,Alberta,Long Term,Townhouse,2495.0,2 Beds,2.5,1403,Unfurnished,Non-Smoking,True,True

In [96]:
df3['baths'].unique()

array(['2.5', '1', '2', '1.5', '3.5', '4', '3', '5', 'none', '4.5', '7.5',
       0, '5.5', '6', '6.5', '0', '7'], dtype=object)

In [87]:
def convertBedsToNumber(x):
    if pd.isna(x):
        return 0
    if isinstance(x, (int, float)):
        return int(x)
    
    first = str(x).split(' ')[0].lower()
    if first in ['none', 'studio']:
        return 0
    try:
        return int(first)
    except ValueError:
        return 0

In [97]:
df3.loc[:,'nbr_beds'] = df3['beds'].apply(convertBedsToNumber)
df3.drop(['beds'], axis = 'columns')

,city,province,lease_term,type,price,baths,sq_feet,furnishing,smoking,cats,dogs,nbr_beds
0,Airdrie,Alberta,Long Term,Townhouse,2495.0,2.5,1403,Unfurnished,Non-Smoking,True,True,2.0
1,Airdrie,Alberta,Long Term,Townhouse,2695.0,2.5,1496,Unfurnished,Non-Smoking,True,True,3.0
2,Airdrie,Alberta,Long Term,Townhouse,2295.0,2.5,1180,Unfurnished,Non-Smoking,True,True,2.0
3,Airdrie,Alberta,Long Term,Townhouse,2095.0,2.5,1403,Unfurnished,Non-Smoking,True,True,2.0
4,Airdrie,Alberta,Long Term,Townhouse,2495.0,2.5,1403,Unfurnished,Non-Smoking,True,True,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
25766,Yorkton,Saskatchewan,Long Term,Apartment,920.0,1,400,Unfurnished,Non-Smoking,True,True,0.0
25767,Yorkton,Saskatchewan,Long Term,Apartment,1450.0,1,810,Unfurnished,Non-Smoking,True,True,3.0
25768,Yorkton,Saskatchewan,Long Term,Apartment,1125.0,1,520,Unfurnished,Non-Smoking,True,True,1.0
25769,Yorkton,Saskatchewan,Long Term,Apartment,920.0,1,400,Unfurnished,Non-Smoking,True,True,0.0
25770,Yorkton,Saskatchewan,Long Term,Apartment,1285.0,1,700,Unfurnished,Non-Smoking,True,True,2.0

In [101]:
def boolToNumber(x):
    if x == True:
        return 1
    if x == False:
        return 0

In [115]:
df3['cats'] = df3['cats'].apply(boolToNumber)
df3['dogs'] = df3['dogs'].apply(boolToNumber)

C:\Users\Admin\AppData\Local\Temp\ipykernel_28204\139235915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['cats'] = df3['cats'].apply(boolToNumber)
C:\Users\Admin\AppData\Local\Temp\ipykernel_28204\139235915.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['dogs'] = df3['dogs'].apply(boolToNumber)

In [116]:
count_location = df3.groupby('city')['city'].agg('count').sort_values(ascending =  False)
count_location

city
Calgary       7828
Edmonton      2272
Toronto       1575
Montréal      1044
Ottawa         840
              ...
Tsawwassen       1
Wardner          1
Vanier           1
Westerose        1
Whitecourt       1
Name: city, Length: 233, dtype: int64

In [256]:
location_less_than_10 = count_location[count_location<=100]
location_less_than_10

city
Laval           86
Oshawa          83
Windsor         80
Medicine Hat    75
Kelowna         74
                ..
Tsawwassen       1
Wardner          1
Vanier           1
Westerose        1
Whitecourt       1
Name: city, Length: 213, dtype: int64

In [257]:
df3.city = df3.city.apply(lambda x: 'others' if x in location_less_than_10 else x)

In [258]:
def convertToFlaot(x):
    return float(x)

In [259]:
df3 = df3[pd.to_numeric(df3['sq_feet'], errors='coerce').notna()]

In [260]:
df3['sq_feet'] =df3.sq_feet.apply(convertToFlaot)

In [261]:
df4 = df3[~(df3.sq_feet == 0)]
df4 = df4[~(df4.price == 0)]
df4['price_per_sqare_foot'] = df4.price*100000/df4.sq_feet

In [262]:
def remove_outlier(df):
    df_out = pd.DataFrame()
    for key, sub_df in df.groupby('city'):
        m = np.mean(sub_df.price_per_sqare_foot)
        st = np.std(sub_df.price_per_sqare_foot)
        reduced_df = sub_df[(sub_df.price_per_sqare_foot> (m-st)) & (sub_df.price_per_sqare_foot< (m+st))]
        df_out = pd.concat([df_out, reduced_df], ignore_index = True)
    return df_out
df5 = remove_outlier(df4)

In [263]:
df5.shape

(16862, 14)

In [264]:
df5 =df5.drop(['lease_term', 'furnishing'], axis = 'columns')

In [265]:
df5.head()

,city,province,type,price,beds,baths,sq_feet,smoking,cats,dogs,nbr_beds,price_per_sqare_foot
0,Airdrie,Alberta,Townhouse,2495.0,2,2.5,1403.0,Non-Smoking,1,1,2.0,177833.214540
1,Airdrie,Alberta,Townhouse,2695.0,3,2.5,1496.0,Non-Smoking,1,1,3.0,180147.058824
2,Airdrie,Alberta,Townhouse,2295.0,2,2.5,1180.0,Non-Smoking,1,1,2.0,194491.525424
3,Airdrie,Alberta,Townhouse,2095.0,2,2.5,1403.0,Non-Smoking,1,1,2.0,149322.879544
4,Airdrie,Alberta,Townhouse,2495.0,2,2.5,1403.0,Non-Smoking,1,1,2.0,177833.214540

In [272]:
city_dummies = pd.get_dummies(df5.city)
province_dummies = pd.get_dummies(df5.province)
type_dummies = pd.get_dummies(df5.type)
smoking_dummies = pd.get_dummies(df5.smoking)
df6 = pd.concat([df5, city_dummies,province_dummies,type_dummies,smoking_dummies], axis = 'columns')
df6.head()

,city,province,type,price,beds,baths,sq_feet,smoking,cats,dogs,...,Mobile,Office Space,Parking Spot,Room For Rent,Townhouse,Vacation Home,Negotiable,Non-Smoking,Smoke Free Building,Smoking Allowed
0,Airdrie,Alberta,Townhouse,2495.0,2,2.5,1403.0,Non-Smoking,1,1,...,False,False,False,False,True,False,False,True,False,False
1,Airdrie,Alberta,Townhouse,2695.0,3,2.5,1496.0,Non-Smoking,1,1,...,False,False,False,False,True,False,False,True,False,False
2,Airdrie,Alberta,Townhouse,2295.0,2,2.5,1180.0,Non-Smoking,1,1,...,False,False,False,False,True,False,False,True,False,False
3,Airdrie,Alberta,Townhouse,2095.0,2,2.5,1403.0,Non-Smoking,1,1,...,False,False,False,False,True,False,False,True,False,False
4,Airdrie,Alberta,Townhouse,2495.0,2,2.5,1403.0,Non-Smoking,1,1,...,False,False,False,False,True,False,False,True,False,False

In [267]:
df7 = df6.drop(['city', 'province','type','smoking'], axis = 'columns')
df7 = df7[pd.to_numeric(df7['baths'], errors='coerce').notna()]

In [268]:
X = df7.drop('price', axis = 'columns')
y = df7.price

In [269]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state = 10)

In [270]:
from sklearn.linear_model import LinearRegression
prediction_model = LinearRegression()
prediction_model.fit(X_train, y_train)
prediction_model.score(X_test, y_test)

0.8276207957795269

In [271]:
import pickle
with open('price_prediction_model.pickle', 'wb') as f:
    pickle.dump(prediction_model, f)

In [276]:
all_province = province_dummies.columns.tolist()
all_city = city_dummies.columns.tolist()
all_type = type_dummies.columns.tolist()
all_smoking = smoking_dummies.columns.tolist()

['Alberta', 'British Columbia', 'Manitoba', 'New Brunswick', 'Newfoundland and Labrador', 'Nova Scotia', 'Ontario', 'Quebec', 'Saskatchewan']

In [278]:
import json
column = {
    'province': [prov.lower() for prov in all_province],
    'city': [cit.lower() for cit in all_city],
    'type': [ty.lower() for ty in all_type],
    'is_smoking': [smoke.lower() for smoke in all_smoking]
}
with open('columns.json', 'w') as f:
    f.write(json.dumps(column))